<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatosLayer.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=LAPTOP-2JMS5E5I\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>